<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="/src/images">
	<title>Buquê de Amor</title>
</head>

<div class="logo">
<img class="Flu" src="images/Flu.jpg"/>
</div>


<body class="is-preload">

		<div id="wrapper">
		<header id="header">
			<div class="inner">

			<h1>Buquê de Amor</h1>
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>

			</div>
			</header>
				<nav id="menu">
					<h2>Menu</h2>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/sobrenos">Sobre nós</a></li>
						<li><a href="/ajuda">Ajuda</a></li>
					</ul>
				</nav>

			<!-- Main -->
				<div id="main">
				<div class="inner">
					<header>
						<p>Variedades de flores para todos os gostos e tipos</p>
					</header>
				</a>

				<img class="Rosa.jpg" src="images/Rosa.jpg"/>
				<img class="Rosa.jpg" src="images/Rosa.jpg"/>
				<img class="Rosa.jpg" src="images/Rosa.jpg"/>
				<img class="Rosa.jpg" src="images/Rosa.jpg"/>
				<img class="Rosa.jpg" src="images/Rosa.jpg"/>
				<img class="Rosa.jpg" src="images/Rosa.jpg"/>
				<img class="Rosa.jpg" src="images/Rosa.jpg"/>
				<img class="Rosa.jpg" src="images/Rosa.jpg"/>
				<img class="Rosa.jpg" src="images/Rosa.jpg"/>
				<img class="Rosa.jpg" src="images/Rosa.jpg"/>
				<img class="Rosa.jpg" src="images/Rosa.jpg"/>
				<img class="Rosa.jpg" src="images/Rosa.jpg"/>
				

				
				

						
					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<section>
							<h2>Envie-nos uma mensagem-</h2>
							<form method="post" action="#">
								<div class="fields">
									<div class="field half">
										<input type="text" name="name" id="name" placeholder="Nome:" />
									</div>
									<div class="field half">
										<input type="email" name="email" id="email" placeholder="Email:" />
									</div>
									<div class="field">
										<textarea name="message" id="message" placeholder="Mensagem:"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Enviar" class="primary" /></li>
								</ul>
							</form>
						</section>
						<section>
							<h2>Siga-nos</h2>
							<ul class="icons">
								<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
								<li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</section>
					</div>
				</footer>

		</div>

	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

</body>
</html>